<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" style="max-height: 100%; overflow-y: auto;">
    <nz-form-item>
        <nz-form-control nzErrorTip="Please provide a valid email!">
            <nz-input-group nzPrefixIcon="mail">
                <input type="email" nz-input formControlName="email" placeholder="Your email" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your first Name!">
            <nz-input-group nzPrefixIcon="user">
                <input nz-input id="given_name" formControlName="given_name" placeholder="Given Name" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your last name!">
            <nz-input-group nzPrefixIcon="user">
                <input nz-input id="family_name" formControlName="family_name" placeholder="Family Name" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
                <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Password" id="password"
                    formControlName="password" />
                <ng-template #suffixTemplate>
                    <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                        (click)="passwordVisible = !passwordVisible"></span>
                </ng-template>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate2">
                <input [type]="confirmPasswordVisible ? 'text' : 'password'" nz-input placeholder="Confirm Password"
                    id="confirm_password" formControlName="confirm_password" />
                <ng-template #suffixTemplate2>
                    <span nz-icon [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
                        (click)="confirmPasswordVisible = !confirmPasswordVisible"></span>
                </ng-template>
            </nz-input-group>
        </nz-form-control>
        <ng-template #errorTpl let-control>
            <div *ngIf="control.errors?.['required']">Please confirm your password!</div>
            <div *ngIf="control.errors?.['confirm']">Two passwords that you enter are inconsistent!</div>
        </ng-template>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
        <nz-form-control>
            <label nz-checkbox formControlName="agree">
                <span>
                    I have read the
                    <a>Terms of Agreement</a>
                </span>
            </label>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
        <nz-form-control>
            <button nz-button [nzLoading]="isLoading" nzType="primary" style="width: 100%;">Register</button>
        </nz-form-control>
    </nz-form-item>
</form>
<app-google-signin-button></app-google-signin-button>