<div class="inner-content">
    <section class="hero flex-row">
        <div class="hero-content">
            <div class="homepage-container">
                <h2 style="font-size: xx-large; max-width: 70%;">
                    Discover a world of learning with us. Our platform
                    offers a wide range of resources and services to 
                    <span class="blue-txt" style="color: #1890ff">
                        support your educational journey.
                    </span>
                </h2>
                <nz-divider></nz-divider>
                <ul class="flex-row">
                    <nz-tag [nzColor]="'blue'" nzBordered="false">Interactive lessons</nz-tag>
                    <nz-tag [nzColor]="'blue'">Expert tutors</nz-tag>
                    <nz-tag [nzColor]="'blue'">Personalized learning paths</nz-tag>
                    <nz-tag [nzColor]="'blue'">Community forums</nz-tag>
                </ul>
                <nz-divider></nz-divider>
            </div>
        </div>
    </section>
</div>