<div class="inner-content">
    <section class="hero flex-row">
        <div class="hero-content">
            <h1>Welcome to Edu Horizons</h1>
            <p>EduHorizons is an online education platform offering diverse courses, interactive lessons, and expert
                tutors. We empower learners to explore interests, enhance skills, and achieve academic goals,
                fostering a community where education knows no bounds.</p>
            <i style="display: block; margin: 4px;">...Building Bridges to Knowledge, Creating Pathways to
                Success</i>
            <button nz-button nzType="primary">Get Started</button>
        </div>
        <!-- <img src="../assets/hero-image.jpg" alt="Hero Image" class="hero-image"> -->
    </section>
</div>