/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    color: #FFF
}


.ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed{
    max-width: 80px;
}

.ant-layout-footer{
    height: 50px !important;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}