<nz-breadcrumb>
    <nz-breadcrumb-item>Classes</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
        <tr>
            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                {{ column.title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of sortTable.data">
            <td>{{ data.Level }}</td>
            <td>{{ data.Class }}</td>
            <td>{{ data.Subject }}</td>
            <td>{{ data.Tutor }}</td>
        </tr>
    </tbody>
</nz-table>