<nz-breadcrumb>
    <nz-breadcrumb-item>Classes</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
        <tr>
            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                {{ column.title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of sortTable.data">
            <td>{{ data.name }}</td>
            <td>{{ data.chinese }}</td>
            <td>{{ data.math }}</td>
            <td>{{ data.english }}</td>
        </tr>
    </tbody>
</nz-table>