/* NAVIGATION BAR STYLES */
.logo-img {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.logo-txt {
  font-size: 28px;
  font-weight: 400;
  color: white !important;
  margin-left: 8px !important;
  text-align: right;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 75px;
  /* background: rgba(255, 255, 255, 0.2); */
  margin: 16px;
  padding: 8px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Side */
nz-sider{
  max-height: 74vh;
  position: relative;
  overflow-y: scroll !important;
}
nz-sider>ul{
  height: 100%;
}

/* LAYOUT STYLES */
nz-header {
  background: #fff;
  padding: 0;
}

.app-header {
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.app-content {
  margin-top: 100px;
}

.app-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

nz-content {
  margin: 0 16px;
  max-height: 50vh;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.header-block {
  margin-bottom: 4px;
  overflow-y: auto;
  /* height: fit-content; */
  padding-bottom: 12px;
  min-height: 100%;
}

/* HERO STYLES */
.hero-image {
  max-width: 100%;
  max-height: 100%;
  margin-left: 20px;
    filter: blur(1px) brightness(0.5);
}

/* FORM STYLES */

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

/* Tablets in portrait mode */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  /* Your styles for tablets in portrait mode */
  .hero {
    flex-direction: column-reverse;
  }
}

/* Tablets in landscape mode */
@media only screen and (min-width: 1025px) and (max-width: 1366px) {

  /* Your styles for tablets in landscape mode */
  .hero {
    flex-direction: column-reverse;
  }
}


/* Phones in portrait mode */
@media only screen and (max-width: 767px) {
  .hero {
    flex-direction: column-reverse;
  }
}

/* Phones in landscape mode */
@media only screen and (min-width: 568px) and (max-width: 767px) and (orientation: landscape) {
  .hero {
    flex-direction: column-reverse;
  }
}
