<nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" style="min-height: 100%;">
  <ul nz-menu nzTheme="dark" nzMode="inline" style="min-height: 100%; padding-bottom: 20px;">
    <ng-container *ngFor="let link of links">
      <ng-container *ngIf="!link.subLinks">
        <li nz-menu-item [style.background-color]="link.route === currentRoute ? '#001529' : null">
          <span nz-icon *ngIf="link.icon" [nzType]="link.icon"></span>
          <span><a [routerLink]="link.route">{{ link.name }}</a></span>
        </li>
      </ng-container>
      <ng-container *ngIf="link.subLinks">
        <li nz-submenu nzTitle="{{ link.name }}" nzIcon="{{ link.icon }}"
          [style.background-color]="link.route === currentRoute ? '#001529' : null">
          <ul nz-menu *ngIf="link.subLinks" nz-menu-sub style="background-color: #001529;">
            <li *ngFor="let sub of link.subLinks" nz-menu-item
              [style.background-color]="sub.route === currentRoute ? '#1890ff' : null">
              <a [routerLink]="sub.route">{{ sub.name }}</a>
            </li>
          </ul>
        </li>
      </ng-container>
    </ng-container>
  </ul>
</nz-sider>
