<nz-header class="app-header">
    <ul nz-menu nzTheme="dark" class="header-block flex-row space-between">
        <div class="logo">
            <img class="logo-img" src="../assets/logo-no-background.png" alt="logo">
            <span class="logo-txt">EDU-HORIZONS</span>
        </div>
        <app-modal modalBtnTxt="Sign In / Sign Up" [modalContentRef]="authForm"></app-modal>
        <ng-template #authForm>
            <app-auth-form></app-auth-form>
        </ng-template>
    </ul>
</nz-header>