<nz-tabset>
    <nz-tab [nzTitle]="titleTemplate">
        <ng-template #titleTemplate>
            <!-- <span nz-icon nzType="user.add"></span> -->
            Sign In
        </ng-template>
        <app-sign-in-form></app-sign-in-form>
    </nz-tab>
    <nz-tab [nzTitle]="titleTemplate2">
        <ng-template #titleTemplate2>
            <!-- <span nz-icon nzType="user.add"></span> -->
            Sign Up
        </ng-template>
        <app-sign-up-form></app-sign-up-form>
    </nz-tab>
</nz-tabset>